* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.right-col {
    background-color: #682924;
}

.copyright .copyright-text {
    color: #f9f9f9;
    font-size: 13px;
    font-weight: 300;
}


/* =============Form============ */
.form-outline {
    width: 100%;
}

.form-outline .form-control-lg {
    width: 100%;
    border-radius: 3px;
    padding: 16px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.register label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.register span {
    font-size: 15px;
    font-weight: 500;

}

.register .required-text,
.appointment .required-text,
.patient .required-text,
.staff .required-text {
    margin-left: 10px;
    color: #ce5047;
}

.register .asterik,
.appointment .asterik,
.patient .asterik,
.staff .asterik {
    margin-right: 10px;
    color: #ce5047;
}

.asterik {
    color: #ce5047;

}

.required-text {
    color: #ce5047;
}

/* ===========================Main page start=========================== */


/* ====navbar start==== */
nav {
    background-color: #682924;
}

.navbar-brand {
    color: #f9f9f9;
    font-size: 24px;
    font-weight: 600;
    height: 50px;
}

.nav-link {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
}

.navbar-logo {
    width: 100px;
    /* Set the width of the logo */
    height: 100px;
    /* Set the height of the logo */
    transform: translateY(-32px);
    margin-left: -20px;
}

.nav-link:hover {
    color: #CFA61E;
}

.navbar .login-btn,
.navbar .logout-btn {
    background-color: #CFA61E;
    padding: 10px 16px;
    border-radius: 5px;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 20px;
}

.navbar .sign-up-btn {
    background-color: transparent;
    padding: 10px 16px;
    border-radius: 5px;
    color: #f9f9f9;
    border: 2px solid #f9f9f9;
    font-size: 16px;
    margin: 0 0 0 15px
}

.navbar .login-btn:hover,
.navbar .logout-btn:hover {
    background-color: #d1ac47;
    color: #f9f9f9;
}

.navbar .sign-up-btn:hover {
    background-color: #CFA61E;
    border: 2px solid transparent
}

.navbar-toggler {
    border: 1px solid #f9f9f9;
}

.navbar-toggler i {
    color: #f9f9f9;
    font-size: 30px;
}

.bi-person-circle {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
    color: #CFA61E;
}

.dropdown-toggle {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 500;
}

.dropdown-toggle::after {
    color: #CFA61E;
    /* Match the color of the icon */
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:active {
    background-color: #CFA61E;
    /* Background color when item is hovered or clicked */
    color: #fff;
    /* Text color when item is hovered or clicked */
}

.dropdown-menu {
    background-color: #682924;
}

.dropdown-item {
    color: #fff;
}

/* Remove blue highlight for Appointment on hover */
.dropdown:hover .dropdown-toggle {
    background-color: #682924;
    color: #f9f9f9;
}

.navbar-logo {
    width: 100px;
    /* Set the width of the logo */
    height: 100px;
    /* Set the height of the logo */
    transform: translateY(-32px);
    margin-left: -20px;
}

/* ====navbar end==== */




/* ====hero start==== */
.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("img/Group\ 15.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    width: 100%;

}

.hero-text h1 {
    font-size: 54px;
    font-weight: 700;
    color: #682924;
}

.hero-text p {
    font-size: 18px;
    font-weight: 550;
    margin-top: 25px;
    color: #682924;
}

.hero .learn-more-btn {
    padding: 12px 24px;
    background-color: #CFA61E;
    color: #f9f9f9;
    box-shadow: 4px 9px 12px rgb(105, 105, 105);
    font-size: 16px;
    margin-top: 16px;
    border: none;
}

/* ====hero end==== */




/* ====about==== */
.about {
    background-color: #682924;
    padding: 120px 0;
}

.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.about h2 {
    font-size: 56px;
    color: #f9f9f9;
    font-weight: 700;
}

.about p {
    font-size: 18px;
    color: #f9f9f9;
    margin-top: 40px;
}

.right-col img {
    width: 100%;
    max-height: 500px;
    border-radius: 10px;
}

/* ====about end==== */




/* ====services start==== */
.services {
    background-color: #f9f9f9;
}

.services-box {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 900px;
}

.services .row {
    padding-bottom: 80px;
}

.services .card {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 0 10px rgba(94, 92, 92, 0.24)
}

.services .card,
.services .card-body {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.services .card-body {
    background-color: #f9f9f9ec;
}

.services .card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.services h2 {
    font-size: 56px;
    font-weight: 700;
    padding: 60px 0;
    color: black;
}

.services h5 {
    font-size: 30px;
    font-weight: 700;
}

.services p {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 500;
}

.services h2,
.services h5,
.services p,
.services .learn-more-btn {
    margin: 15px 10px;

}

.services .learn-more-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 24px;
}

.services .learn-more-btn:hover {
    background-color: #d1ac47;
    color: #f9f9f9;

}

.herbs-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
}

.tcm-img-1 {
    margin-right: 80px;
}

.herbal-img-1 {
    margin-right: 80px;
}

.herbs h1 {
    font-size: 56px;
    font-weight: 700;
    margin: 120px 0 80px;
}

.herbs h2 {
    font-size: 24px;
    font-weight: 550;
    margin: 1rem 0;
    line-height: 1.25;
    margin-bottom: 60px;
}

.herbs h3 {
    font-size: 22px;
    font-weight: 550;
    margin: 1rem 0;
    line-height: 1.25;
    margin-bottom: 120px;
}

.herb-content-bottom {
    margin-top: 60px;
}

.fa-angle-down {
    font-size: 40px;
    color: #682924;
}


/* ====services end==== */




/* ====operating hours start==== */
.operating-hours {
    background-color: #682924;
    color: #f9f9f9;
    padding: 80px 0;
}

.operating-box {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.operating-hours h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 60px;
}

.operating-hours h3 {
    font-size: 20px;
    font-weight: 450;
}

.operating-hours p {
    font-size: 14px;
    font-weight: 400;
}

/* ====operating hours end==== */




/* ====contact start==== */
.contact {
    background-color: #f9f9f9;
    padding: 80px 0;
}

.contact-box {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.contact .row {
    margin-bottom: 0;
}

.contact h2 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 60px;
}

.contact .form-control-lg {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9d8;
    color: #514A4A;
}

.contact .feedback-field {
    background-color: #f9f9f9d8;
    color: #514A4A;
    font-size: 16px;
}

.contact .submit-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 5px;
    margin-top: 16px;
}

.contact form {
    margin-top: 60px;
}

.contact img {
    width: 100%;
    height: 600px;
}


/* ====contact end==== */




/* ====footer start==== */
.footer {
    background-color: #682924;
    color: #f9f9f9;
    padding: 60px 0;
}

.footer-box {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.footer .logo {
    color: #f9f9f9;
    font-size: 24px;
    font-weight: 600;

}

.footer ul li {
    list-style: none;

}

.footer ul li a {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.footer .contact-details p {
    font-size: 15px;
    font-weight: 400;
}

.footer .address,
.footer .phone {
    display: flex;
}

.footer .address i,
.footer .phone i {
    margin-right: 10px;
    color: black;
    font-size: 20px;
}

.footer-separator {
    border-top: 1px solid #ddd;
    margin: 20px 0;
    width: 100%;
}

.footer .copyright-text {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
}

/* ====footer end==== */


/* ===========================Main page end=========================== */





/* ===========================Register page start=========================== */
.register .form-container {
    display: flex;
    justify-content: center;
    padding: 0 50px;
    flex-direction: column;
    height: 100vh;
    background-color: #682924;
    border-radius: 0;
}

.register img {
    width: 100%;
    height: 100vh;
}

.register .text {
    font-size: 48px;
    font-weight: 700;
    color: #f9f9f9;
    margin-bottom: 10px;
    line-height: 1;
}

.register .home-link {
    text-decoration: none;
    color: #c0b5b5;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 450;
}

.registered-prompt {
    color: #f9f9f9;
    font-size: 13px;
    margin-bottom: 2rem;
}

.registered-prompt a {
    color: #CFA61E;
    text-decoration: none;
    font-size: 13px;
}

.registered-prompt a:hover {
    text-decoration: underline;
}

.register .register-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    width: 100%;
    padding: 15px;
}

.register .register-btn:hover {
    background-color: #d1ac47;
    color: #f9f9f9;
}

.double-form-field select {
    font-size: 16px;
    padding: 12px 0 12px 15px;
    border-radius: 5px;
}

.register .date-input {
    padding: 12px 12px 12px 15px;
    border-radius: 5px;
    font-size: 16px;
}

.reg-error-msg {
    color: #16a2ff;
    font-size: 16px;
    position: fixed;
    margin-top: 770px;
}

.register .right-col {
    border-radius: 0;
}

/* ===========================Register page end=========================== */





/* ===========================Login page start=========================== */
.login .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    height: 100vh;
}

.login .text {
    font-size: 48px;
    font-weight: 700;
    color: #f9f9f9;
}

.rem-me-label {
    color: #CFA61E;
    font-size: 14px;
}

.forgot-text {
    color: #CFA61E;
    font-size: 14px;
    text-decoration: none;
}

.forgot-text:hover {
    color: #CFA61E;
    text-decoration: underline;
}

.login .registered {
    color: #f9f9f9;
    font-size: 13px;
}

.login-prompt {
    color: #f9f9f9;
    font-size: 13px;
    margin-bottom: 3rem;
}

.login-prompt a {
    color: #CFA61E;
    font-size: 13px;
    text-decoration: none;
}

.login-prompt a:hover {
    text-decoration: underline;

}


.login .login-prompt a span {
    color: #CFA61E;
    font-weight: 500;
}

.login .login-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    width: 100%;
    padding: 15px;
}

.login .login-btn:hover {
    background-color: #d1ac47;
    color: #f9f9f9;
}

.login .copyright {
    margin-top: 100px;
}

.login .login-error-msg {
    color: #16a2ff;
    font-size: 15px;
    margin-top: 500px;
    position: fixed;

}

.session-msg-error {
    color: rgb(129, 27, 27);
    font-size: 16px;
    margin-top: 500px;
    position: fixed;
}

.session-msg-success {
    color: #13bd76;
    font-size: 14px;
    margin-top: 500px;
    position: fixed;
}

/* ===========================Login page end=========================== */





/* ===========================Forgot Password page start=========================== */
.forgot-password .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    height: 100vh;
}

.forgot-password .text {
    font-size: 48px;
    font-weight: 700;
    color: #f9f9f9;
    margin-bottom: 2rem;
    line-height: 1;
}

.forgot-password .reset-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    width: 100%;
    padding: 15px;
}

.forgot-password .reset-btn:hover {
    background-color: #d1ac47;
    color: #f9f9f9;
}

.reset-password-error-msg {
    color: red;
    font-size: 14px;
    margin-top: 500px;
    position: fixed;
}

/* ===========================Forgot Password page end=========================== */





/* ===========================Registration / Logged out / Booking successful pages=========================== */
.verified-box {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    align-items: center;
    margin-top: 200px;
    height: calc(100vh - 200px);
}

.verified-box img {
    width: 160px;
    height: 160px;
    justify-content: center;
}

.verified-box h2 {
    font-size: 48px;
    font-weight: 700;
    color: #f9f9f9;
    margin-top: 2rem;
    text-align: center;
    line-height: 1.1;

}

.verified-box p {
    font-size: 14px;
    color: #f9f9f9;
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;

}

.verified-box .login-btn,
.verified-box .back-to-home-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 21px;
    justify-content: center;
    margin-left: 10px;
}



/* ===========================Registration / Logged out / Booking successful pages end=========================== */

/* ============Edit profile start=============== */

.form-container {
    padding: 20px;
    /* Adjust the padding as needed */
    border-radius: 10px;
    background-color: #682924;
    color: #fff;
    height: 560px;
}

.back-btn,
.save-btn {
    width: 100%;
    background-color: #CFA61E;
    color: #fff;
}

.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-text i {
    margin-right: 20px;
    /* Space between icon and text */
    font-size: 5rem;
    /* Increase icon size */
}

.icon-text h3 {
    margin: 0;
    font-weight: bold;
    /* Make text bold */
    margin-top: 5px;
    color: #fff;
}

.input-text {
    color: #fff;
}

/* ============Edit profile end=============== */

/* ============Change password start============== */


.form-container-password {
    padding: 20px;
    /* Adjust the padding as needed */
    border-radius: 10px;
    background-color: #682924;
    color: #fff;
    height: 450px;
}







/* ============Change password end============== */


/* ===========================Media queries responsiveness=========================== */

@media (width < 992px) {
    .navbar .login-btn {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .hero {
        height: 50vh;
    }

    .about img {
        width: 100%;
        max-height: 700px;
        border-radius: 10px;
    }
}


@media screen and (max-width: 768px) {
    .navbar .sign-up-btn {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .navbar .login-btn {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .right-col {
        margin-top: 60px;
    }

    .services-box {
        flex-direction: column;
        width: 95%;
    }

    .services h2{
        padding: 50px 0 20px;
    }

    .contact form{
        margin-top: 0;
    }

    .operating-hours{
        padding: 50px 0;
    }

    .about{
        padding: 50px 0;
    }

    .about p{
        margin-top: 15px;
    }

    .footer{
        padding: 30px 0;
    }

    .footer p{
        font-size: 14px;
    }

    .footer .nav-link{
        font-size: 16px;
        padding-left: 0;
    }

    .footer .footer-separator{
        margin: 10px 0;
    }

    .footer .copyright-text{
        margin-top: 30px;
        font-size: 15px;
    }


    /* ============Main page end=============== */
    .herbs h1{
        margin-top: 0px;
    }





    /* ============Services details page start=============== */

    /* ============Services details page end=============== */



    /* ============Register / Login page start=============== */
    .register .left-col,
    .registered .left-col,
    .login .left-col,
    .reset-password .left-col,
    .loggedout .left-col,
    .booked .left-col {
        display: none;
    }

    .register .right-col,
    .registered .right-col,
    .login .right-col,
    .reset-password .right-col,
    .loggedout .right-col,
    .booked .right-col {
        padding-top: 50px;
        height: 100vh;
    }

    .login .form-container {
        height: 55vh;
        padding: 0 30px;
    }

    .register .form-container {
        height: 80vh;
        padding: 0 30px;
    }

    .registered .verified-box,
    .reset-password .verified-box,
    .loggedout .verified-box,
    .contacted .verified-box,
    .booked .verified-box {
        margin-top: 70px;
        height: calc(60vh - 100px);
    }

    .reg-error-msg {
        margin-top: 700px;
    }

    .custom-nav ul li {
        padding: 5px 0px;

    }

    .custom-nav .logout-btn {
        margin-bottom: 20px;
    }



}

#sidebar {
    min-width: 300px;
    max-width: 300px;

    /* left: -300px; */
    height: 100vh;
    background: #682924;
    z-index: 999;
    flex-shrink: 0;
    overflow: visible;
    /* transition: all 0.3s ease-in; */
}

/* #sidebar.active {
    left: 0;
    width: 300px;
} */

#sidebar .header {
    color: #f9f9f9;
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
}

#sidebar a {
    color: #f9f9f9;
}

#sidebar a.outer {
    font-size: 18px;
    font-weight: 600;
}

#sidebar a.inner {
    font-size: 16px;
    font-weight: 500;

}

#sidebar .btn {
    color: #f9f9f9;
    font-size: 30px;
}

#sidebar ul {
    padding-left: 0;
}

#sidebar ul li {
    list-style: none;
    padding: 12px 24px;
    margin-bottom: 8px;
}

#sidebar ul li.active {
    background-color: #333;
}

#sidebar ul li.active a {
    color: #CFA61E;
}

#sidebar ul li:hover {
    background-color: #333;
}

#sidebar ul li a {
    font-size: 18px;
}

#sidebar ul li a .fa-solid {
    margin-right: 12px;
    font-size: 16px;
}

.sidebar-separator {
    height: 1px;
    background-color: #f9f9f9;
    margin: 16px;
}

#sidebarToggle {
    /* display: block;  */
    background-color: transparent;
    border: none;
    outline: none;
}

#sidebarToggle .bi-list {
    font-size: 36px;
    color: #f9f9f9;
}

#content {
    width: 100%;
    /* transition: margin-left 0.3s ease-in;
    margin-left: 0; */
    height: 100vh;
}

.header-title-bg {
    background-color: hsl(210, 6%, 58%);
    padding: 20px;
    margin: 30px 0;
    border-radius: 10px;
}

.header-title-bg h2 {
    font-size: 36px;
    font-weight: 600;
    color: #f9f9f9;
}

#content.active {
    margin-left: 300px;
}

#content .navbar {
    background-color: #682924;
    color: #f9f9f9;
    width: 100%;
}

#content .navbar .logout-btn {
    color: #f9f9f9;
    background-color: #CFA61E;
    padding: 8px 16px;
}

.close-btn {
    border: none;
}

.close-btn .fa-bars {
    font-size: 24px;
    color: #f9f9f9;
}

.admin-box {
    max-width: 1200px;
    margin: 0 auto;
}

.admin-box h2 {
    font-size: 48px;
    font-weight: 600;
    margin: 24px 0;
}

.edit-btn {
    background-color: #CFA61E;
    padding: 7px 20px;
    color: #f9f9f9;
    font-size: 16px;
    margin-right: 10px;
}

.delete-btn {
    background-color: #682924;
    padding: 7px 20px;
    color: #f9f9f9;
    font-size: 16px;
}

.add-btn {
    background-color: #CFA61E;
    padding: 7px 20px;
    color: #f9f9f9;
    font-size: 16px;
    align-items: right;
}

.delete-btn:hover {
    background-color: #A34039;
    color: #f9f9f9;
}

.edit-btn:hover,
.add-btn:hover {
    background-color: #d1ac47;
    color: #f9f9f9;
}

.content .card {
    box-shadow: 0 0 10px rgba(71, 70, 70, 0.24);
    border-radius: 10px;
    border: none;

}

.content .card.p-table-row {
    padding: 15px 10px 10px 0;
}

.content .card.p-table-row {
    max-height: 1000px;
    min-height: 500px
}

.content .p-table-row .card-title {
    font-size: 28px;
    font-weight: 550;

}

.info .fa-hospital-user,
.info .fa-calendar-check,
.info .fa-user-tie,
.info .fa-list-ol {
    font-size: 60px;
    color: #682924;
    padding-left: 20px;
}

.info:hover {
    background-color: #e9e9e9;
}

.content .card-title {
    font-size: 20px;
    font-weight: 550;
}

.content .card-text {
    font-size: 16px;
    font-weight: 500;
}

/* ===========================Admin main page end=========================== */




/* ===========================Admin patient/appointment details page start=========================== */
/* ==patient== */
.patient-table {
    padding-bottom: 60px;
}

.patient-table .patient-box {
    padding: 0 13%;
}

.patient-table h2,
.appointment-table h2,
.staff-table h2 {
    font-size: 40px;
    font-weight: 600;
    font-weight: 600;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(71, 70, 70, 0.24);
}

.table-card {
    padding: 30px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(71, 70, 70, 0.24);
    border-radius: 10px;
}

.search-card {
    padding: 24px;
    background-color: #f4f4f4;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 60px;
}

.search-card input {
    width: 400px;
    max-width: 400px;
    height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    border: 0.5px solid #ccc;
    font-size: 16px;
    background-color: #f5f1f1;

}

.search-card .fa-search {
    color: #f5f5f5
}

.search-card button {
    margin-left: 15px;
    background-color: #CFA61E;
}

.appointment-table {
    padding-bottom: 60px;

}

.table th {
    font-size: 16px;
    font-weight: 700;
}

.patient-table tbody td.affect {
    padding-top: 18px;

}

.table tr {
    font-size: 600;
}

.table tr td {
    font-size: 16px;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;

}

.table tr th {
    padding-top: 15px;
    padding-bottom: 15px;
}

.table tr.table-body td,
.table tr.table-head th {
    border: none
}

.modal .yes-btn {
    background-color: #682924;
    padding: 7px 20px;
    color: #f9f9f9;
    font-size: 14px;
}

.modal .no-btn {
    background-color: #CFA61E;
    padding: 7px 20px;
    color: #f9f9f9;
    font-size: 14px;

}

.yes-btn:hover {
    background-color: #A34039;
    color: #f9f9f9;
}

.no-btn:hover {
    background-color: #d1ac47;
    color: #f9f9f9;
}

.patient-table .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.modal .modal-title {
    font-size: 32px;
    font-weight: 600;
    color: #ff4b3e;
}

.modal .modal-text {
    font-size: 16px;
    font-weight: 500;
}

.appointment,
.patient,
.staff {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointment h2,
.staff h2,
.patient h2 {
    color: #f9f9f9;
    font-size: 36px;
    font-weight: 550;
}

.appointment .profile-details,
.patient .profile-details,
.staff .profile-details {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #682924;
}

.form-fields {
    padding: 40px 100px;
    background-color: #f9f9f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.appointment form,
.patient form,
.staff form {
    width: 100%;
}

.appointment label,
.patient label,
.staff label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.appointment .form-control,
.patient .form-control,
.staff .form-control,
.custom-select-grp {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    ;
    font-size: 16px;
    background-color: #ffffff;
}

.custom-select-grp {
    box-shadow: 0 2px 10px rgba(134, 117, 117, 0.3);
    border: 1px solid #ccc;
    ;
}

.form-select-grp {
    margin-top: 30px;
    font-size: 16px;
}

.appointment .profile-details i,
.patient .profile-details i,
.staff .profile-details i {
    color: #f9f9f9;
    font-size: 60px;
    margin-right: 15px;
}

.appointment .buttons,
.patient .buttons,
.staff .buttons {
    display: flex;
    justify-content: flex-end;
}

.create-btn {
    background-color: #682924;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 20px;
}

.create-btn:hover {
    background-color: #A34039;
    color: #f9f9f9;
}

.appointment .save-btn,
.patient .save-btn,
.staff .save-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 20px;
}

.appointment .save-btn:hover,
.patient .save-btn:hover,
.staff .save-btn:hover {
    background-color: #d1ac47;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 20px;
}

.appointment .back-btn,
.patient .back-btn,
.staff .back-btn {
    background-color: #682924;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 20px;
    margin-right: 15px;
}

.appointment .back-btn:hover,
.patient .back-btn:hover,
.staff .back-btn:hover {
    background-color: #A34039;
    color: #f9f9f9;
}

.appointment-add .buttons,
.patient-add .buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.patient-table .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient-add .patient-box,
.patient .patient-box {
    background-color: #FCF9F9;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(167, 142, 142, 0.3);
    padding: 0 50px;
}

.pagination .page-item.active .page-link {
    background-color: #682924;
    border: none;
}

.pagination .page-item.active .page-link:hover {
    background-color: #A34039;
}

#dt-length-0 {
    background-color: #fffdfd;
    box-shadow: 0 2px 10px rgba(134, 117, 117, 0.3);
}

#dt-length-0 option:hover {
    background-color: #fffdfd;
    color: black;
}


/* ===========================Admin patient/appointment details page end=========================== */





/* ===========================Last Queue No. page start=========================== */
.queue {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.queue-container {
    max-width: 550px;
    margin: 0 auto;
}

.queue-wrapper {
    background-color: #f9f9f9;
    padding: 50px;
}

h1.queue-title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;

}

label.queue_label {
    margin-bottom: 16px;
}

.check-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 24px;
    margin-top: 30px;
    width: 100%;
}

.check-btn:hover {
    background-color: #d1ac47;
    color: #f9f9f9;
}

.queue_no-wrapper {
    max-width: 170px;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 20px;
}

.queue-wrapper h3 {
    font-size: 128px;
}

.queue_no {
    font-size: 90px;
    font-weight: 600;
    text-align: center;
}

.queue .buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.queue .back-btn {
    background-color: #682924;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 24px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.queue .back-btn:hover {
    background-color: #A34039;
    color: #f9f9f9;

}

/* ===========================Last Queue No. page end=========================== */





/* ===========================Settings page start=========================== */
.settings {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 15px;
    max-width: 800px;
    margin: 100px auto 50px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.settings-wrapper {
    padding: 50px;
}

.settings-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;

}

.settings-wrapper h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 50px;
}

.settings .edit-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 24px;
}

.settings .edit-btn:hover {
    background-color: #d1ac47;
    color: #f9f9f9;
}

.settings-box h1,
.settings-square h1 {
    font-size: 56px;
    font-weight: 700;
    margin: 60px 0;
    text-align: center;
}

.settings-group form {
    max-width: 500px;
}

.settings-group .form-group {
    display: flex;
    align-items: center;
}

.settings-group .col-form-label {
    text-align: left;
}

.settings-group .form-group {}

.settings-group .form-control {
    width: 100%;
}

.settings-group .save-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    padding: 16px 24px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.settings-group .edit-btn {
    background-color: #CFA61E;
    color: #f9f9f9;
    font-size: 16px;
    padding: 12px 24px;
}

.settings-group .edit-btn:hover,
.settings-group .save-btn:hover {
    background-color: #d1ac47;
}

.settings-value {
    text-align: right;
}

.settings-group .word-label {
    text-align: left;
}

/* ===========================Settings page end=========================== */



/* ============Main page start=============== */
@media (max-width: 992px) {
    nav {
        max-height: fit-content;
    }

    .navbar .nav-item {
        margin-bottom: 15px;
    }

    .navbar .sign-up-btn {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .navbar .login-btn {
        margin-bottom: 10px;
    }

    .services-box,
    .contact-box,
    .about-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    .right-col {
        width: 100%;
        margin-top: 20px;
    }

    .herbs h1 {
        font-size: 36px;
        margin-top: 60px;
    }

    /* ============Main page end=============== */
}

@media (max-width: 768px) {
    nav {
        max-height: fit-content;
    }

    .navbar .nav-item {
        margin-bottom: 15px;
    }

    .navbar .sign-up-btn {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .navbar .login-btn {
        margin-bottom: 10px;
    }

    .hero .hero-text h1 {
        font-size: 36px;
    }

    .hero .hero-text p {
        font-size: 16px;
    }

    .services-box,
    .contact-box,
    .about-box,
    .operating-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin-top: 0;
    }

    .right-col {
        width: 100%;
        margin-top: 50px;
    }

    .about-details h2,
    .services h2,
    .operating-hours h2,
    .contact h2 {
        font-size: 36px;
    }

    .services h2 {
        margin: 10px 20px;
    }

    .services h5 {
        font-size: 24px;
    }

    .services p {
        font-size: 14px;
    }

    .herbs-img-group {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .herbal-img-1,
    .tcm-img-1 {
        margin-right: 0;
    }

    .herbs-box{
        padding: 20px;
    }

    .herbs h1 {
        font-size: 36px;
        margin-top: 30px;
    }

    .herbs h2 {
        font-size: 20px;
        margin-bottom: 60px;
    }

    .herbs h3 {
        font-size: 22px;
        margin-bottom: 80px;
    }

    .about-details p {
        font-size: 16px;
    }

    .appt-duration {
        margin-top: 60px;
    }

    .operating-hours h3 {
        font-size: 18px;
    }

    .operating-hours p {
        font-size: 14px;
    }

    .contact {
        padding: 30px 0;
    }

    .contact h2 {
        margin-bottom: 0px;
    }

    .footer ul {
        padding: 0;
        flex-direction: column;
    }

    .footer .contact-details {
        margin-top: 30px;
    }

    /* ============Main page end=============== */





    /* ============Register / Login page start=============== */
    .register .left-col,
    .registered .left-col,
    .login .left-col,
    .reset-password .left-col,
    .loggedout .left-col,
    .booked .left-col {
        height: 60vh;
    }

    .register .right-col,
    .registered .right-col,
    .login .right-col,
    .reset-password .right-col,
    .loggedout .right-col,
    .booked .right-col {
        margin-top: 0;
    }

    .login .form-container {
        height: 55vh;
        padding: 0 30px;
    }

    .register .form-container {
        height: 80vh;
        padding: 0 30px;
    }

    .registered .verified-box,
    .reset-password .verified-box,
    .loggedout .verified-box,
    .contacted .verified-box,
    .booked .verified-box {
        margin-top: 70px;
        height: calc(60vh - 100px);
    }

    .custom-nav ul li {
        padding: 5px 0px;

    }

    .custom-nav .logout-btn {
        margin-bottom: 20px;
    }



}